.who-am-i .modal-dialog {
    width: 340px;
}

/*.modal {
    margin-top: 20px;
    opacity: 1 !important;
    position: relative;
    overflow: visible;
    display: block !important;
}
*/

.btn-back {
    border: 0;
    width: 30px;
    height: 30px;
    background: url(../images/icon/back.png);
    background-size: contain;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content {
    box-shadow: none;
    border-radius: 0;
}

.modal-header {
    border-bottom: none;
    min-height: 0;
    padding: 5px 15px;
}

.modal-title {
    color: #344B6C;
    font-size: 30px;
}

.modal-footer {
    border-top: none;
}

.modal-submit {
    border: 0;
    background-color: transparent;
    color: #6FC6DD;
    font-size: 20px;
    line-height: 1em;
}

.who-am-i .modal-body {
    padding: 10px 15px 0;
}

.who-item {
    text-align: center;
    margin-bottom: 10px;
}

.who-item:hover {
    cursor: pointer;
    opacity: 0.5;
}

.who-item span {
    display: block;
    margin: 5px auto;
    color: #344B6C;
    font-size: 18px;
    line-height: 1.1em;
}

#loginModal .modal-body {
    padding: 5px 20px 0;
}

#loginModal .modal-header {
    padding: 10px 20px 5px;
}

#loginModal img {
    width: 65px;
}

#loginModal .modal-title {
    font-size: 33px;
    border-bottom: 2px solid #F1F1F1;
}

#loginModal .help-block {
    margin-bottom: 0;
}

#loginModal .modal-footer {
    padding: 0 20px 10px;
    position: relative;
}

#loginModal .btn:focus,
#loginModal .btn:hover {
    color: #1ab4db;
}

#loginModal .btn-group > .btn {
    border-right: 1px solid #6FC6DD;
}

#loginModal .btn-group > .btn:last-child {
    border-right: none;
}

#loginModal .btn-back {
    position: absolute;
    top: 0;
    left: 20px;
}