
/*****
GLOBAL STYLES
****/

/*****
Login Styles
****/

/*
   * Add this if you want to disable IE10's implementation
   * of the winking eye in favor of your own.
   * Alternatively, you could set the 'innerToggle' option to
   * false for that browser only.
   */

::-ms-reveal {
    display:none !important;
}
/*
   * This toggle style shows a winking "eye-con" (nyuk, nyuk).
   * Open eye means "show," closed eye means "hide."
   */
.hideShowPassword-toggle {
    background-image: url(../images/wink.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em;
    width: 44px;
}
.hideShowPassword-toggle-hide {
    background-position: -44px center;
}

/*****
Header Styles
****/

.profile-panel {
    background-color: transparent;
    border: 0;
    color: #fff;
    margin-bottom: 0;
    /*margin-top: 13px;*/
}

.profile-panel img {
    margin-bottom: 5px;
    border-radius: 30px;
}

.profile-panel a{
    color: #F1F2F1;
    font-size: 13px;
}

#hs_header .hs_menu li > a {
    font-size: 16px;
}

.login-register li > a {
    margin: 17px 0 !important;
}

.user-options-bt {
    font-size: 22px;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}
.user-options-bt:hover {
    font-size: 25px;
}

#user-options {
    position: absolute;
    background-color: #30B991;
    height: 80px;
    width: 100%;
    top: -100%;
    padding: 15px;
}

@media screen and (max-width: 990px) {
    .user-options-bt { display: none; }
    #user-options { position: relative; }
}


/*****
Footer Styles
****/

.hs_copyright a{
    color: #fff;
}

.hs_copyright a:hover{
    color: #fff;
    text-decoration: underline;
}
/*****
Home Styles
****/

.hs_service .fa{
    font-size: 60px;
    color: #7F9AA0;
}


/*****
Page Styles
****/

.page-container {
    min-height: 500px;
    padding-bottom: 20px;
}

.search {
    text-align: right;
}

#hs_search {
    color: #F2F2F2;
    text-decoration: none;
    font-size: 18px;
}

.hs_search_box {
    width: 100%;
    float: left;
    margin: 0px auto;
    margin-top: -20px;
    margin-bottom: 20px;
    display: none;
    position: absolute;
    top: 10px;
}

/*****
Profiles Styles
****/

.user-bio {
    font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif !important;;
    font-size: 13px !important;
}

/*****
Discussion Styles
****/

.updated {
    color: #7f9aa0;
    margin-top: 5px;
}

.updated a{
    padding: 0 !important;
    font-weight: bold;
    font-size: 15px;
}

.disc-thumb {
    text-align: center;
}
.disc-author {
    margin-top: 5px;
    display: block;
}

.replies {
    font-size: 40px;
    color: #00AC7A;
}

.hs_comment .user{
    border-radius: 50px;
    /*border: 1px solid #00AC7A;*/
}

.cat-tag {
    color: #fff;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
    border-radius: 6px;
}

.cat-tag.poll {
    background-color: #81908B;
    margin-left: 5px;
}

.tag {
    background: #30B991;
    color: #fff;
    padding: 3px 7px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
    border-radius: 6px;
}

.cat-tag:before {
    content: " ";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.replies-count {
    height: 95px;
}

@media screen and (max-width: 540px) {
    .replies-count {
        width: 100%;
        border: 0;
        height: auto;
    }
    .replies-count .row {
        float: left;
        margin: 0;
    }
    .replies-count .replies {
        font-size: 13px;
        margin-right: 5px;
    }
    .disc-thumb img {
        width: 70px;
        height: auto;
    }
    .disc-content {
        width: 100%;
    }
    .disc-content p , .disc-content h4 {
        padding: 0;
    }
    .cat-tag {
        margin-left: 0;
    }
    .disc-author {
        display: none;
    }
}

/*Discussions*/

#poll_form {
    display: none;
}

#poll_form .form-control {
    margin-bottom: 20px;
}

.panel-body:not(.two-col) {
    padding: 0px;
}

.glyphicon {
    margin-right: 5px;
}

.glyphicon-new-window {
    margin-left: 5px;
}

.panel-body .radio, .panel-body .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel-body .list-group {
    margin-bottom: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.panel-body .radio label, .panel-body .checkbox label {
    display: block;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: 0 !important;
    margin-right: 20px !important;
}

.panel-primary>.panel-heading {
    background-color: #00AC7A !important;
}

.poll_item_group { position: relative; }

.remove_poll_item {
    position: absolute;
    right: 7px;
    top: 32px;
    cursor: pointer;
    color: #DD4B39;
}

.well .remove_field_group_bt {
    position: absolute;
    top: -7px;
    left: -7px;
    font-size: 20px;
}

.form-group {
    position: relative;
}

.style-default {
    background: transparent !important;
}
/*// BOOTSTRAP OVERRIDES */

@media (max-width:767px) {
    .form-control {
        margin-bottom: 10px;
    }
}

.dataTables_filter {
    text-align: right !important;
}

.content-header>h1 a {
    font-size: 18px;
}

.content-header>h1 a {
    font-size: 18px;
}

.content .inner-title a {
    font-size: 18px;
}

.sidebar-menu .fa-circle-o {
    font-size: 10px;
}

/**************** BACKEND *************/
.user-panel > .image > img {
    max-height: 45px;
}

.sidebar-collapse .user-panel > .image > img {
    max-height: 30px;
}

.survey-results {
    font-size: 12px;
}

.survey-results b {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.map {
    width: 100%;
    height: 360px;
    margin-top: 5px;
    background-image: url('../images/placeholders/no-location.png');
    background-size: 100%;
}
/*==========  ADMIN USERS  ==========*/

.inline-block {
    display: inline-block;
}

.user-details .box {
    padding: 0 15px;
}

.btn-link {
    color: #3c8dbc;
    padding: 0;
}

.btn-link:active,
.btn-link:focus,
.btn-link:hover {
    outline: 0;
    color: #72afd2;
}

.user-details-header .btn-link:focus,
.user-details-header .btn-link:hover {
    text-decoration: none;
}

.user-details-header {
    margin-bottom: 10px;
}

.box-form {
    margin: 10px 0 20px;
}

.box-form h4 {
    margin: 0 0 5px;
    font-size: 18px;
    line-height: 1;
}

.user-details-body ul {
    margin-bottom: 15px;
}
