html, body
{
    height: 100%;
}

html {
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: robotolight;
    color: rgba(0,0,0,.7);
    font-size: 15px;
    line-height: 17px;
    background-color: #f1f1f1;
}

.main-wrapper {
    background-color: #fff;
    padding-bottom: 20px;
}
/********************************** FOOTER **************************/

.footer {
    background-color: #f1f1f1;
    border-top: 1px solid #8E8E8E;
    padding: 10px 0;
    font-size: 13px;
}

.footer ul.nav-links {
    list-style: none;
    padding: 0;
    margin: 7px 0;
}

.footer ul.nav-links li {
    float: left;
    margin-right: 10px;
}

.footer a, .footer p ,.footer {
    color: #3E3D3D;
    font: 10px/12px robotolight;
}

.footer ul.nav-links li a {
    color: #3E3D3D;
    border-right: 1px solid #B3B3B3;
    font: 10px/12px robotolight;
    padding-right: 6px;
}

.footer ul.nav-links li:last-child a {
    border-right:0;
}

.footer .copyright {
    text-align: right;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    -webkit-font-smoothing: antialiased !important;
    font-family: robotomedium;
    color: #003256;
    font-weight: 300;
    line-height: 26px;
}

hr {
    float: left;
}

ul {
    /*line-height: 22px;*/
}

sup {
    vertical-align: middle !important;
}

input[type=submit]:active,
input[type=submit]:focus,
button:active,
button:focus {
    outline: 0 !important;
}
/*a:hover {*/
    /*color: #095586;*/
/*}*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/

* html .clearfix { height: 1%; }

.clearfix { display: block; }
/* close commented backslash hack */

.float-none {
    float: none !important;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-input-placeholder {
    font-family: robotolight;
    color: rgba(0,0,0,.6) !important;
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: robotolight;
    color: rgba(0,0,0,.6) !important;
    font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: robotolight;
    color: rgba(0,0,0,.6) !important;
    font-style: italic;
}

:-ms-input-placeholder {
    font-family: robotolight;
    color: rgba(0,0,0,.6) !important;
    font-style: italic;
}

/* Base for label styling */
.custom-checkbox:not(:checked),
.custom-checkbox:checked {
    position: absolute;
    left: -9999px;
}
.custom-checkbox:not(:checked) + label,
.custom-checkbox:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

/* checkbox aspect */
.custom-checkbox:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 17px;
    border: 0;
    background: #F1F1F1;
    border-radius: 30px;
    box-shadow: 0
}


.custom-checkbox:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 17px; height: 17px;
    border: 1px solid #aaa;
    background-color: #5E5E5E !important;
    border-radius: 30px;
    box-shadow: 0
}
/* checked mark aspect */
.custom-checkbox:not(:checked) + label:after,
.custom-checkbox:checked + label:after {
    background-color: #000000;
    position: absolute;
    top: 0; left: 4px;
    font-size: 14px;
    color: #09ad7e;
    transition: all .2s;
}


.checkbg {
    background-color: red;
    width: 100%;
    height: 100%;
}
/* checked mark aspect changes */
.custom-checkbox:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.custom-checkbox:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
.custom-checkbox:disabled:not(:checked) + label:before,
.custom-checkbox:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
.custom-checkbox:disabled:checked + label:after {
    color: #999;
}
.custom-checkbox:disabled + label {
    color: #aaa;
}
/* accessibility */
.custom-checkbox:checked:focus + label:before,
.custom-checkbox:not(:checked):focus + label:before {
    border: 1px dotted blue;
}


input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color:#fff;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

.sidebar input[type="radio"] + label span {
    background-color:#fff;
}

input.gray[type="radio"]  + label span {
    background-color:#F1F1F1;
}

input.gray[type="radio"]:checked + label span{
    background-color: rgba(0,0,0,0.5);
    border: 2px solid #f1f1f1;
}

input[type="radio"]:checked + label span{
    background-color: #00a2d1;
    border: 2px solid #fff;
}


input[type="radio"] + label span,
input[type="radio"]:checked + label span {
    -webkit-transition:background-color 0.4s linear;
    -o-transition:background-color 0.4s linear;
    -moz-transition:background-color 0.4s linear;
    transition:background-color 0.4s linear;
}



input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    font-family:Arial, sans-serif;
    font-size:14px;
}



input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="checkbox"] + label span.gray {
    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;
}

input[type="checkbox"] + label span {
    background-color:#fff;
}

input[type="checkbox"]:checked + label span{
    background-color: #00a2d1 !important;
    border: 2px solid #fff;
}

input[type="checkbox"] + label span,
input[type="checkbox"]:checked + label span {
    -webkit-transition:background-color 0.4s linear;
    -o-transition:background-color 0.4s linear;
    -moz-transition:background-color 0.4s linear;
    transition:background-color 0.4s linear;
}


input.square[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    border-radius: 0;
}

input.square[type="checkbox"] + label span {
    background-color:#f1f1f1;
}

input.square[type="checkbox"]:checked + label span {
    background: url(../images/icon/check.gif) center no-repeat;
    background-color:#f1f1f1 !important;
}

/* hover style just for information */
label:hover:before {
    border: 1px solid #4778d9!important;
}

.submit.button {
    font: 21px robotoregular  !important;
    color: #f55b1d;
    outline: 0;
}

/* Useless styles, just for demo design */

.txtcenter {
    margin-top: 4em;
    font-size: .9em;
    text-align: center;
    color: #aaa;
}

.copy {
    margin-top: 2em;
}

.copy a {
    text-decoration: none;
    color: #4778d9;
}

.overflow-hidden {
    overflow: hidden;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.text-capitalize { text-transform: capitalize; }
.text-middle { vertical-align: middle; }

.no-padding { padding: 0 !important; }
.no-top-pad { padding-top: 0 !important; }
.no-right-pad { padding-right: 0 !important; }
.no-bottom-pad { padding-bottom: 0 !important; }
.no-left-pad { padding-left: 0 !important; }

.padding-tb-0 { padding-top: 0; padding-bottom: 0;  }
.padding-tb-5 { padding-top: 5px; padding-bottom: 5px;  }
.padding-tb-7 { padding-top: 7px; padding-bottom: 7px;  }
.padding-tb-8 { padding-top: 8px; padding-bottom: 8px;  }
.padding-tb-10 { padding-top: 10px; padding-bottom: 10px;  }
.padding-tb-14 { padding-top: 14px; padding-bottom: 14px;  }
.padding-tb-20 { padding-top: 20px; padding-bottom: 20px;  }
.padding-tb-30 { padding-top: 30px; padding-bottom: 30px;  }

.padding-lr-5 { padding-left: 5px; padding-right: 5px;  }
.padding-lr-7 { padding-left: 7px; padding-right: 7px;  }
.padding-lr-10 { padding-left: 10px; padding-right: 10px;  }
.padding-lr-20 { padding-left: 20px; padding-right: 20px;  }
.padding-lr-30 { padding-left: 30px; padding-right: 30px;  }

.padding-t-20 { padding-top: 20px;}
.padding-b-20 { padding-bottom: 20px;}
.padding-r-20 { padding-right: 20px;}
.padding-l-20 { padding-left: 20px;}
.padding-l-35 { padding-left: 35px;}
.padding-l-55 { padding-left: 52px;}
.padding-t-10 { padding-top: 10px;}
.padding-r-6 { padding-right: 6px;}
.padding-t-20 { padding-top: 20px;}
.padding-t-30 { padding-top: 30px;}
.padding-t-40 { padding-top: 40px;}
.padding-b-10 { padding-bottom: 10px;}
.padding-r-10 { padding-right: 10px;}
.padding-r-7 { padding-right: 7px;}
.padding-l-10 { padding-left: 10px;}
.padding-t-4 { padding-top: 4px;}
.padding-t-5 { padding-top: 5px;}
.padding-b-3 { padding-bottom: 3px;}
.padding-b-4 { padding-bottom: 4px;}
.padding-b-5 { padding-bottom: 5px;}
.padding-b-7 { padding-bottom: 7px;}
.padding-b-8 { padding-bottom: 8px;}
.padding-r-5 { padding-right: 5px;}
.padding-l-5 { padding-left: 5px;}
.padding-l-7 { padding-left: 7px;}
.padding-t-0 { padding-top: 0;}
.padding-b-0 { padding-bottom: 0 !important;}
.padding-r-0 { padding-right: 0;}
.padding-l-0 { padding-left: 0;}

.padding-5 { padding: 5px; }
.padding-7 { padding: 7px; }
.padding-10 { padding: 10px !important; }
.padding-12 { padding: 12px !important; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }
.padding-30 { padding: 30px; }
.padding-40 { padding: 40px; }


.margin-tb-0 { margin-top: 0; margin-bottom: 0;  }
.margin-tb-4 { margin-top: 4px; margin-bottom: 4px;  }
.margin-tb-5 { margin-top: 5px; margin-bottom: 5px;  }
.margin-tb-10 { margin-top: 10px; margin-bottom: 10px;  }
.margin-tb-20 { margin-top: 20px; margin-bottom: 20px;  }
.margin-rl-5 { margin-right: 5px; margin-left: 5px; }
.margin-rl-10 { margin-right: 10px; margin-right: 10px; }
.margin-rl-20 { margin-right: 20px; margin-right: 20px; }
.margin-t-3 { margin-top: 3px;}
.margin-t-4 { margin-top: 4px;}
.margin-t-15 { margin-top: 15px;}
.margin-t-20 { margin-top: 20px;}
.margin-t-30 { margin-top: 30px;}
.margin-t-40 { margin-top: 40px;}
.margin-b-3 { margin-bottom: 3px;}
.margin-b-4 { margin-bottom: 4px;}
.margin-b-7 { margin-bottom: 7px !important;}
.margin-b-15 { margin-bottom: 15px !important;}
.margin-b-20 { margin-bottom: 20px !important;}
.margin-b-30 { margin-bottom: 30px}
.margin-r-20 { margin-right: 20px;}
.margin-l-20 { margin-left: 20px;}
.margin-t-10 { margin-top: 10px;}
.margin-t-7 { margin-top: 7px;}
.margin-b-10 { margin-bottom: 10px;}
.margin-b-7 { margin-bottom: 7px !important;}
.margin-r-10 { margin-right: 10px;}
.margin-l-10 { margin-left: 10px;}
.margin-t-5 { margin-top: 5px !important; }
.margin-b-5 { margin-bottom: 5px;}
.margin-r-5 { margin-right: 5px;}
.margin-l-5 { margin-left: 5px;}
.margin-t-0 { margin-top: 0 !important;}
.margin-b-0 { margin-bottom: 0 !important;}
.margin-r-0 { margin-right: 0;}
.margin-l-0 { margin-left: 0;}

.margin-10 { margin: 10px; }
.margin-15 { margin: 15px; }
.margin-20 { margin: 20px; }
.margin-30 { margin: 30px; }
.margin-40 { margin: 40px; }

.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }

.align-top { vertical-align: top; }

.font-8 { font-size: 8px !important; }
.font-9 { font-size: 9px !important; }
.font-10 { font-size: 10px !important; }
.font-11 { font-size: 11px !important; }
.font-12 { font-size: 12px !important; }
.font-14 { font-size: 14px !important; }
.font-15 { font-size: 15px !important; }
.font-18 { font-size: 18px !important; }
.font-20 { font-size: 21px !important; }
.font-21 { font-size: 21px !important; }
.font-22 { font-size: 22px !important; }
.font-24 { font-size: 24px !important; }
.font-28 { font-size: 28px !important; }
.font-30 { font-size: 30px !important; }

.referenceText {
    font-size: 12px !important;
    color: #4C4C4C;
}

.line-height-14 {
    line-height: 14px;
}

.line-height-22 {
    line-height: 22px;
}

.line-height-17 {
    line-height: 17px;
}

.line-height-28 {
    line-height: 28px;
}

.opacity-0 { opacity: 0; }
.opacity-1 { opacity: 1; }

.temp-hide { display: none; }

.h-link { font-size: 14px; }

img {
    max-width: 100%;
}
.border-left { border-left: 1px solid #003256; }
.border-left-light { border-left: 1px solid rgba(0,0,0,0.1);  }
.border-right { border-right: 1px solid #003256; }
.border-right.gray { border-right: 1px solid #A2A2A2; }
.border-right-light { border-right:1px solid rgba(0,0,0,0.1) !important; }
.border-light { border-color: rgba(0,0,0,0.1) !important; }
.border-bottom {
    border-bottom: 1px solid #003256;
}
.border-bottom-light {
    border-bottom: 1px solid #989898;
}
.border-top-light {
    border-top: 1px solid #989898;
}
.border-bottom-very-light {
    border-bottom: 1px solid #E6E6E6;
}
.border-top {
    border-top: 1px solid;
}
.no-border { border: 0 !important; box-shadow: none !important; }


.f-left { float: left; }
.f-right { float: right; }

.t-white { color: #fff !important; }
.t-orange { color: #f55b1d !important; }
.t-yellow { color: #f5ad1b !important; }
.t-green { color: #789c72 !important; }
.t-black { color: #3b3b3b !important; }
.t-blue { color: #095586 !important; }
.t-gray { color: #767676 !important; }
.t-light-gray { color: #9E9E9E !important; }
.t-pink { color: #dd5a69 !important; }
.t-regular { font-weight: 300; }
.t-bold { font-weight: bold; }
.t-uppercase { text-transform: uppercase; }

.gray-border-b { border-bottom: 1px solid #003256; }
.gray-border-t { border-top: 1px solid #C3C3C3; padding-top: 4px; }
.orange-border-b { border-bottom: 1px solid #f55b1d; }
.orange-border-t { border-bottom: 1px solid #f55b1d; }
.pink-border-b { border-bottom: 1px solid #dd5a69; }
.pink-border-t { border-bottom: 1px solid #dd5a69; }
.green-border-b { border-bottom: 1px solid #789c72; }
.green-border-t { border-bottom: 1px solid #789c72; }

.gray-bg {  background-color: #f1f1f1; }
.white-bg {  background-color: #fff !important; }
.blue-bg {  background-color: #0a5787 !important; }
.red-bg {  background-color: #e12526 !important; }
.yellow-bg {  background-color: #f5ad1b !important; }
.pink-bg {  background-color: #dd5a69 !important; }

.yellow {
    border: #f5ad1b !important;
    color: #f5ad1b !important;
}

.yellow a{
    color: #f5ad1b !important;
}

.patient-blue {
    border: #0c5786;
    color: #00a2d1 !important;
}

.light-blue {
    border: #00a2d1;
    color: #00a2d1 !important;
}

.light-blue a{
    color: #00a2d1 !important;
}

.blue {
    border: #003256;
    color: #003256 !important;
}

.blue a{
    color: #003256 !important;
}

.margin-b-5.doctor-blue {
    border: #0a5787;
    color: #0a5787 !important;
}

.doctor-blue a{
    color: #0a5787 !important;
}

.doctor-blue {
    color: #0a5787 !important;
}

.border-top-blue{
    border-top: 1px solid #003256 !important;
}

.pink {
    border-color: #dd5a69 !important;
    color: #dd5a69 !important;
}

.pink a{
    color: #dd5a69 !important;
}

.orange {
    border-color: #f55b1d !important;
    color: #f55b1d !important;
}

.orange a{
    color: #f55b1d !important;
}

.green {
    border-color: #789c72 !important;
    color: #789c72 !important;
}

.green a{
    color: #789c72 !important;
}

.black {
    border-color: #3b3b3b !important;
    color: #3b3b3b !important;
}

.black a{
    color: #3b3b3b !important;
}

.robotoregular { font-family: robotoregular; }
.robotolight { font-family: robotolight; }
.robotobold{ font-family: robotobold; }
.latoregular{ font-family: latoregular; }
.latolight{ font-family: latolight; }

.text-uppercase {
    text-transform: uppercase;
}
.transparent-bg { background-color: transparent; }
.no-bg { background: transparent !important; }

.z-index-1 { z-index: 1; }


.crop { overflow: hidden; }
.width-full { width: 100%; }
.height-full { height: 100%; }
.resize-v-only { resize: vertical; }

hr { border-top: 1px solid #E6E6E6; width: 100%; }
ul, ol { margin-bottom: 0; }

.section-header {
    border-top: 1px solid #003256;
    padding-top: 0px;
    margin-top: 7px;
    font: 21px/25px latoregular;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 1px;
}

.section-header.newsfeed  {
    border-top: 0 !important;
    margin-top: -6px !important;
}

.cat-label {
    font-style: italic;
    border-top: 1px dotted #003256;
    display: block;
}

.height-auto {
    height: auto !important;
}

.button {
    background-color: transparent;
    border: 0;
}

textarea.form-control {
    padding: 8px 10px;
}

.custom-select {
    overflow: hidden;
    width: 100%;
    background-image: url('../images/icon/arrow-down.png');
    background-position:98%  center;
    background-repeat: no-repeat;
}

.custom-select.gray {
    background-color: #F1F1F1;
}

.custom-select.gray select {
    color: #555 !important;
}


.custom-select select {
    width: 110%;
    height: 30px;
    border: 0;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: left;
    padding-left: 5px;
    padding-right: 60px;
    color: #000;
    font-size: 17px;
}

.custom-select select:focus {
    outline: 0;
}


.custom-select.left {
    background-position: 0;
    opacity: 0.5;
}


.custom-select.left select {
    padding-left: 25px;
    height: 31px;
    line-height: 23px;
}

.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
    float: left;
    width: 100%;
}

.page p ,.page ol ,.page ul {
    float: left;
    margin-bottom: 10px;
}

.page ol li ,.page ul li {
    margin: 0 0 20px 0;
}

.page ol li:last-child ,.page ul li:last-child {
    margin-bottom: 0;
}

.noti-count {
    background-color: red;
    border-radius: 50%;
    padding-bottom: 2px;
    font-size: 10px;
    width: auto;
    height: 14px;
    display: block;
    float: right;
    text-align: center;
    line-height: 7px;
    margin-right: -4px;
    padding: 3px;
}


.small-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.small-icon.phone {
    background-image: url(../images/icon/doctors/phone.png);
}
.small-icon.location {
    background-image: url(../images/icon/doctors/location.png);
}
.small-icon.hospital {
    background-image: url(../images/icon/doctors/hospital.png);
}


.small-icon.reply {
    height: 21px;
    width: 21px;
    background-image: url(../images/icon/Reply-Icon.png);
}
.small-icon.trash {
    height: 21px;
    width: 21px;
    background-image: url(../images/icon/Trash-Icon.png);
}


/** Rating Icons **/

.doctor-ratings  {
    display: block;
    float: left;
    width: 100%;
    margin-top: 8px;
}
.doctor-ratings span {
    vertical-align: middle;
    display: inline-table;
    float: left;
    line-height: 24px;
}

.rate-icon {
    float: left;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    width: 30px;
    height: 24px;
    background-repeat: no-repeat;
}

.rate-icon.ri-friendliness { background-image: url(../images/icon/patient/Friendliness-icon.png); background-position: -4px center; }
.rate-icon.ri-professionalism { background-image: url(../images/icon/patient/Professionalism-icon.png); width: 32px; }
.rate-icon.ri-bed-manner { background-image: url(../images/icon/patient/Bedside-manner-icon.png); width: 34px; }
.rate-icon.ri-medical-knowledge { background-image: url(../images/icon/patient/Medical-Knowledge-Icon.png); width: 29px; }
.rate-icon.ri-helpfulness { background-image: url(../images/icon/patient/Helpfulness-icon.png); width: 38px; }
.rate-icon.ri-waiting-time { background-image: url(../images/icon/patient/Waiting-time-icon.png); }
.info-icon {
    background-image: url(../images/icon/patient/Info-Icon.png);
    float: left;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 5px;
}


#ratingHelpModal p {
    color: #000;
    margin-bottom: 15px;
}


#ratingHelpModal .rate-icon {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: -7px;
}

#ratingModal p {
    color: #000;
    margin-bottom: 15px;
}

#ratingModal input[type="radio"] + label span, #ratingModal input[type="checkbox"] + label span {
    background-color: #F1F1F1;
    margin-right: 0;
}

#ratingModal input[type="radio"]:checked + label span {
    background-color: #00a2d1;
    border: 2px solid #F1F1F1;
}

.about h5,.about h4 {
    margin-bottom: 0;
}


.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content {
    box-shadow: none;
    border-radius: 0;
}

.modal-header {
    border-bottom: none;
    min-height: 0;
    padding: 10px 26px;
}

.modal-body ul {
    padding-left: 25px;
}

.modal-body h4 {
    vertical-align: middle;
    margin-bottom: 4px;
    font: 15px/17px 'robotoregular';
}

.modal-body p {
    font-size: 15px;
    line-height: 17px;
}

.modal-body .rate-icon {
    margin-top: -5px;
}

.modal-body .rate-icon.ri-friendliness {
    margin-left: -3px;
}

.modal-body .rate-icon.ri-professionalism {
    margin-left: -3px;
}

.modal-body .rate-icon.ri-waiting-time {
    margin-left: -7px;
}

.modal-body .rate-icon.ri-medical-knowledge {
    margin-left: -8px;
}

.modal-title {
    color: #344B6C;
    font-size: 26px;
}

.modal-footer {
    border-top: none;
}

.modal-submit {
    border: 0;
    background-color: transparent;
    color: #6FC6DD;
    font-size: 20px;
    line-height: 1em;
}

/* header */

.logo-link {
    font-size: 15px;
    color: #fff;
}

.logo-link:hover {
    color: #f5ad1b;
}

.time-n-where {
    font: 15px/22px 'latolight';
    vertical-align: middle;
    color: #000;
}

.time-n-where p {
    float: left;
    margin: 0;
}

.news-ticker {
    font: 15px/22px 'latolight';
    vertical-align: middle;
    color: #000;
}

.news-ticker p {
    float: left;
    margin: 0;
}

.news-ticker .search-field input {
    height: 22px;
    background-color: #f1f1f1;
    border: 0;
    padding-right: 30px;
    margin-bottom: 0;
}

.news-ticker .magnify {
    position: absolute !important;
    top: 4px !important;
    right: 5px !important;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
}

.videos_slider_item {
    min-height: 130px;
}

.video_slider_nav {
    top: 57px !important;
}


/******* Messages ******/

/*.page-container.messages .trumbowyg-button-pane {*/
    /*display: none;*/
/*}*/

.page-container.messages .trumbowyg-editor {
    background-color: #F1F1F1;
}

.page-container.messages .trumbowyg-box {
    margin: 5px auto;
    border: 0;
}

.page-container.messages .trumbowyg-textarea {
    border-bottom: 1px solid #b6b6b6;
    padding: 6px 8px 2px;
    background: #cfd1cf;
}

.page-container.messages .cke_top {
    background-color: #f1f1f1 !important;
    background-image: none !important;
}

.page-container.messages .cke_bottom {
    background-color: #f1f1f1 !important;
    background-image: none !important;
}

.page-container.messages a.cke_button {
    background-color: #fff !important;
}

.page-container.messages .cke_toolgroup {
    float: left;
    margin: 0 6px 5px 0;
    border: 1px solid #E2E2E2;
    border-bottom-color: transparent;
    border-radius: 3px;
    box-shadow: 0;
    background: transparent;
    background-image: none;
}

.page-container.messages a.cke_combo_button {
    background: #fff !important;
    background-image: none !important;
    border: 1px solid #E2E2E2;
}

.page-container.messages .cke_chrome {
    border: 1px solid #DCDCDC;
    box-shadow: 0;
    margin-top: 5px;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 0;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 5px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #ccc;
}


/*Adverts*/
.advert-table {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.advert-table input {
    padding: 3px 5px;
}