/* Copyright (c) 2015 Leading Brands.
------------------------------------------------------------------
*/

section.ad {
    background-color: #fff;
    color: #fff;
    padding-bottom: 6px;
}


section.banner {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#037a9a+0,4cc1d8+100 */
    background: #037a9a; /* Old browsers */
    background: -moz-linear-gradient(left, #037a9a 0%, #4cc1d8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#037a9a), color-stop(100%,#4cc1d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #037a9a 0%,#4cc1d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #037a9a 0%,#4cc1d8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #037a9a 0%,#4cc1d8 100%); /* IE10+ */
    background: linear-gradient(to right, #037a9a 0%,#4cc1d8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#037a9a', endColorstr='#4cc1d8',GradientType=1 ); /* IE6-9 */
    color: #fff;
}

.head-logo {
}

.admin-link {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0A5787;
    display: block;
    z-index: 1;
    position: fixed;
    border-bottom-right-radius: 5px;
    padding: 11px;
    color: #fff;
}

.logo-wrap {
    padding-top: 10px;
    padding-bottom: 7px;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.icon.login {
    background-image: url(../images/icon/header/login-patient.png);
}

.icon.logout {
    background-image: url(../images/icon/header/logout-patient.png);
}

.icon.change {
    background-image: url(../images/icon/header/change-patient.png);
}

.icon.help {
    background-image: url(../images/icon/header/help.png);
}

.icon.inbox {
    background-image: url(../images/icon/header/message-patient.png);
}

.search-icon {
    background-image: url(../images/icon/Search.png);
    display: block;
}

.user-panel {
    text-align: right;
}

.user-panel a{
    color: #fff;
    font:15px/19px latolight;
}

.user-panel .link {
    display: block;
}

section.menu {
    background-color: #026c8a;
}

section.menu .navbar-nav li:first-child > a {
    padding-left: 0;
}

section.menu .navbar-nav li.active a {
    color: #52c6dd;
}

section.menu .navbar-nav li:last-child a {
    padding-right: 0;
    color: #f5ad1b;
}

.navbar-nav {
    width: 100%;
}
/********************* MAIN ELEMENTS ************/

.time-n-where {
    font: 15px/22px 'latolight';
    vertical-align: middle;
    color: #000;
}

.time-n-where p {
    float: left;
    margin: 0;
}

.weather-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 100%;
}

.weather-icon.sun {
    background-image: url(../images/icon/Sun.png);
}

.weather-icon.moon {
    background-image: url(../images/icon/Moon.png);
}

.media-list li:last-child {
    margin-bottom: 0;
}

.media-list.surveys img {
    height: 175px;
    width: auto;
    padding-bottom: 1px;
}

.media-body p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.media-list.surveys .media-body {
    height: 126px;
    padding: 5px 20px 10px 6px;
}

.media-list .media.disc:first-child {
    margin-top: 0;
}

.media-list .media.disc {
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}

.media-list .media.disc .media-object {
    width: auto;
    height: 100%;
}

.media-list .media.disc .media-body {
    background-color: #f1f1f1;
    height: auto;
}


.media-list .media.disc .media-right {
    height: 300px;
    overflow: hidden;
}

.media-list .media.disc .media-right img {
    margin-left: -40px;
}

.media-list .media.disc .media-body p {
    padding-bottom: 0px;
    margin-bottom: 3px;
}


.media-list .media.featured .media-heading {
    font-size: 26px;
    line-height: 27px;
}

.media-list .media.featured {
    height: 280px;
    width: 100%;
    overflow: hidden;
}

.media-list .media.featured .media-object {
    height: auto;
    width: 100%;
}

.media-list .media.featured .media-body {
    background-color: #F1F1F1;
    height: 279px;
    padding: 8px;
}

.media-list .media.featured .media-right {
    height: 100%;
}

.media-list .media.featured .media-right {
    height: 100%;
    float: left;
}

.media-list .media.featured .media-body p {
    /*border-bottom: 1px solid #8E8E8E;*/
    /*padding-bottom: 7px;*/
    /*margin-bottom: 3px;*/
}

.media-list.rss {
}

.media-list.rss .media {
    /*height: 96px;*/
}


.articles .media-heading {
    margin-top: 7px;
}

.articles .article:last-child {
    padding-right: 0;
    border-right: 0;
}

.articles .article .media-body {
    min-height: 184px;
    padding-left: 6px;
    padding-right: 6px;
}

.articles .article:first-child {
    padding-left: 0;
}

.tags {
    font: 15px/17px robotolight;
    color: #52c6dd;
}

.media-list.minimal .media:first-child {
    margin-top: 0;
}

.media-list.minimal .media-body {
    height: 113px;
    box-sizing: border-box;
    padding: 2px 6px;
    line-height: 14px;
}

.media-list.minimal .media-body h4{
    margin-top: 0;
}

.media-list.minimal .media-body p{
    margin-bottom: 3px;
}
.media-list.minimal .media{
    height: auto;
    margin-top: 7px;
}
.media-list.minimal .media-heading {
    margin-bottom: 0;
}

/*.media-body:hover  a, .media:hover > .media-body  a, .media-body:hover .media-body  a, .media:hover > .media-body a{*/
    /*color: #003256;*/
/*}*/

/*.media-body:hover a , .media:hover a {*/
    /*color: #003256 !important;*/
/*}*/


.st_facebook_large .stLarge {
    background-image: url(../images/icon/social/Facebook.png) !important;
    background-size: 100% 100%;
}

.st_twitter_large .stLarge {
    background-image: url(../images/icon/social/Twitter.png) !important;
    background-size: 100% 100%;
}

.st_googleplus_large .stLarge {
    background-image: url(../images/icon/social/Google-Plus.png) !important;
    background-size: 100% 100%;
}

.st_linkedin_large .stLarge {
    background-image: url(../images/icon/social/LinkIn.png) !important;
    background-size: 100% 100%;
}

.st_email_large .stLarge {
    background-image: url(../images/icon/social/Email.png) !important;
    background-size: 100% 100%;
}

.st_sharethis_large, .st_pinterest_large  {
    display: none !important;
}

#up_coming_events_slider {
    padding: 5px 0 !important;
}

.up_coming_events_slider_item {
    border-right: 1px solid #0A5787;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 7px;
    margin-right: 10px;
    min-height: 70px;
}

.up_coming_events_slider_item a {
    color: #000;
    font-family: robotolight;
    font-weight: 300;
}


/******* SIDEBAR ********/

.sidebar {
    float: left;
    overflow:hidden;
}

.sidebar .panel-heading {
    padding: 0;
}

.search-field {
    position: relative;
}

.search-field input {
    height: 29px;
    background-color: #f1f1f1;
    border: 0;
    padding-right: 30px;
    margin-bottom: 6px;
}

.magnify {
    position: absolute;
    top: 2px;
    right: 5px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
}


.panel.with-nav-tabs .panel-heading {
    padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

.panel-primary>.panel-heading {
    background-color: transparent;
}

.panel-primary>.panel-heading h3 {
    font-size: 15px;
    line-height: 17px;
    color: #003256;
}

.sidebar-element {
    margin-bottom: 7px;
    float: left;
    width: 100%;
}

.latest-tabs .nav>li {
    width: 50%;
}

.latest-tabs .nav>li>a {
    padding: 7px 0;
    font-size: 16px;
    line-height: 19px;
    color: #fff !important;
    background-color: #003256;
    border: 0;
    text-transform: capitalize;
    margin: 0;
    font-family: robotoregular;
    text-align: center;
    text-transform: uppercase;
}

.latest-tabs .nav>li.active>a {
    color: #000 !important;
}

/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default h4 {
    font-size: 16px;
    line-height: 19px;
    padding: 6px 0;
    text-transform: uppercase;
    text-align: center;
}
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    border: 0;
}

.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #000;
    border: 0;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border: 0;
}

.sidebar-element .discussions-list {
    list-style: none;
    padding: 0;
    border: 0;
}

.sidebar-element .discussions-list li {
    border-bottom: 1px solid #0a5787;
    float: left;
    padding: 7px 0;
    width: 100%;
}

.sidebar-element .discussions-list li a {
    color: #000;
    font-size: 12px;
    line-height: 14px;
    display: block;
    font-family: robotolight;
    padding-left: 7px;
    min-width: 205px;
}
.sidebar-element .discussions-list li .counts {
    color: #003256;
    font-size: 31px;
    line-height: 30px;
    display: block;
    vertical-align: middle;
    font-family: robotolight;
    text-align: left;
    padding-left: 3px;
}

.sidebar-element .therapy-list {
    list-style: none;
    padding: 0;
    border: 0;
}

.sidebar-element .therapy-list li {
    border-bottom: 1px solid #0a5787;
    float: left;
    padding: 7px 0;
    width: 100%;
}

.sidebar-element .therapy-list li:last-child {
    border-bottom: 0;
}

.sidebar-element .therapy-list li a {
    color: #000;
    font-size: 12px;
    line-height: 15px;
    display: block;
    font-family: robotolight;
    padding-left: 9px;
}
.sidebar-element .therapy-list li .counts {
    color: #003256;
    font-size: 31px;
    line-height: 30px;
    display: block;
    vertical-align: middle;
    font-family: robotolight;
    text-align: left;
    padding-left: 3px;
}

.side-poll {
    background-color: #F1F1F1;
    padding: 6px;
}

.poll-head {
    font: 16px/19px robotolight;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.side-poll input[type='submit'] {
    width: 50px;
    height: 50px;
    font-weight: 300;
    color: #FFF;
    margin: 0 auto;
    font-size: 15px;
    padding: 2px;
    border: 0;
    border-radius: 50%;
    font-family: robotolight;
    text-transform: uppercase;
    background: url("../images/icon/Vote-Icon.png") no-repeat center 29px #0A5787;
    background-position-x: center;
    background-position-y: 80%;
}

.side-poll .list-group-item {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-bottom: 7px;
    padding-left: 4px;
}

.side-poll .list-group-item label{
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
}

.side-ad img {
    margin-bottom: 10px;
}

.side-ad div:last-child img {
    margin-bottom: 0;
}

.user-link.register {
    background-color: #f5ad1b;
}

.user-link.doctor {
    background-color: #45c4fc;
}

.user-link.doctor a {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

/*.user-link.doctor a:hover {*/
    /*color: #fff !important;*/
    /*text-decoration: underline;*/
/*}*/

.user-link.doctor h2 {
    color: #fff;
    margin: 0;
    border-bottom: 2px solid #fff;
    padding-bottom: 0;
}

.user-link.register h2 {
    color: #fff;
    margin: 0;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 33px;
}

.user-link.patient {
    background-color: #003256;
}

.user-link {
    padding: 8px 20px;
    box-sizing: border-box;
    text-align: center;
}

.user-link.patient h2 {
    color: #fff;
    margin: 2px 0;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}

.user-link.patient a {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.user-link.patient a:hover {
    /*text-decoration: underline;*/
}

#feed .media-heading a{
    font-size: 12px;
    line-height: 14px !important;
}
#feed .media-body {
    height: 45px;
    box-sizing: border-box;
    padding: 5px 8px;
}


/*********************** CAROUSEL **********************/

.ocarousel {
    position: relative;
}

.ocarousel:hover .customNavigation {
    display: block;
}
.customNavigation {
    position: absolute;
    width: 100%;
    display: none;
    top: 33%;
}

.videos_slider .customNavigation {
    display: block;
}


.customNavigation.events {
    top: 23px;
}

#video_slider .owl-wrapper-outer {
    width: 100%;
}

.customNavigation.video_slider_nav {
    top: 45px;
}

.btn_prev {

}

.btn_next {

}

.arrow {
    background-size: 100% 100%;
    width: 42px;
    height: 42px;
    display: block;
    cursor: pointer;
    background-color: transparent;
    top: 0;
    position: absolute;
}

.arrow.left {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    left: 15px;
}

.arrow.right {
    right: 15px;
}

.arrow.blue {
    background-image: url(../images/icon/Blue-Arrow.png);
}

.arrow.light-blue {
    background-image: url(../images/icon/Light-Blue-Arrow.png);
}

.arrow.yellow {
    background-image: url(../images/icon/Yellow-Arrow.png);
}

.arrow.green {
    background-image: url(../images/icon/Green-Arrow.png);
}


.arrow.pink {
    background-image: url(../images/icon/Red-Arrow.png);
}

/******* LOGIN REGISTER *****/

.register h3 {
    font-size: 30px;
}

.register h3 i{
    font-size: 35px;
}


.register select {
    height: 30px;
    padding: 3px 13px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    font-style: italic;
}

.register-form {
    overflow: hidden;
}

@media (max-width:980px) {
    .login-panel {
        border: 0;
        margin-left: 0;
    }
}

/*----------  LOGIN MODAL  ----------*/
.who-am-i .modal-dialog {
    width: 340px;
}

.btn-back {
    border: 0;
    width: 30px;
    height: 30px;
    background: url(../images/icon/back.png);
    background-size: contain;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}


.who-am-i .modal-body {
    padding: 10px 15px 0;
}

.who-item {
    text-align: center;
    margin-bottom: 10px;
}

.who-item:hover {
    cursor: pointer;
    opacity: 0.5;
}

.who-item span {
    display: block;
    margin: 5px auto;
    color: #344B6C;
    font-size: 18px;
    line-height: 1.1em;
}

#loginModal .modal-body {
    padding: 5px 20px 0;
}

#loginModal .modal-header {
    padding: 10px 20px 5px;
}

#loginModal img {
    width: 65px;
}

#loginModal .modal-title {
    font-size: 33px;
    border-bottom: 2px solid #F1F1F1;
}

#loginModal .help-block {
    margin-bottom: 0;
}

#loginModal .modal-footer {
    padding: 0 20px 10px;
    position: relative;
}

#loginModal .btn:focus,
#loginModal .btn:hover {
    color: #1ab4db;
}

#loginModal .btn-group > .btn {
    border-right: 1px solid #6FC6DD;
}

#loginModal .btn-group > .btn:last-child {
    border-right: none;
}

#loginModal .btn-back {
    position: absolute;
    top: 0;
    left: 20px;
}

/**************** articles-page ***************/

.doctor-verification p,
.doctor-verification ul {
    margin-bottom: 10px;
}

/**************** PAGES ***************/

.page-header {
    margin: 10px 0 0 0;
}

.page-header-light {
    font: 21px/25px robotolight
}

.page-header a {
    font-size: 22px !important;
    padding-top: 5px;
}

#header-ad {
    display: block;
}

#header-ad-mobile {
    display: none;
}

.page-container , .articles-page {
    padding-top: 5px;
}
.page-container h1,
.page-container h2,
.page-container h3,
.page-container h4,
.page-container h5 {
    color: #003256;
}

.page-container .content {
    margin-top: 5px;
    min-height: 67px;
    color: #000;
}

.title-action {
    font-size: 14px;
    color: inherit;
}

.hs_heading {
    border-bottom: 1px solid #C3C3C3;
    margin-top: 10px;
    padding-bottom: 7px;
    font-size: 26px;
}

.hs_heading i {
    font-size: 26px;
}

.login-container h1,.login-container h2,.login-container h3,.login-container h4,.login-container h5,.login-container h6 {
    color: #3A3A3A;
}

/*
   * This toggle style shows a winking "eye-con" (nyuk, nyuk).
   * Open eye means "show," closed eye means "hide."
   */
.hideShowPassword-toggle {
    background-image: url(../images/wink.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em;
    width: 44px;
}
.hideShowPassword-toggle-hide {
    background-position: -44px center;
}

.filter-label
{
    font-size: 20px;
    margin: 0 0 7px 0;
    font-family: robotoregular;
}

.filters a {
    font-size: 21px;
    font-family: helvetica, arial, verdana, sans-serif;
    color: #323232;
}

.filters a:first-child {
}

/**************************** DISCUSSIONS ***********************************/

.page-title {
    float: left;
    margin-top: 4px;
}

.disc-filter {
    font-size: 17px;
    line-height: 22px;
    color: #000;
    padding: 3px 5px 6px 5px;
}

.disc-filter .custom-select {
    margin-top: 3px;
}

.page-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 7px;
    float: left;
}


.page-icon.discussion {
    background-image: url(../images/icon/discussions.png);
}

.page-icon.diagnosis {
    background-image: url(../images/icon/diagnosis.png);
}

.page-icon.surveys {
    background-image: url(../images/icon/surveys.png);
}

.page-icon.doctor {
    background-image: url(../images/icon/doctors/stethos-pink.png);
}

.page-icon.doctor.blue {
    background-image: url(../images/icon/doctors/stethos-blue.png);
}

.page-icon.patient {
    background-image: url(../images/icon/who-am-i/patient.png);
}

.page-icon.patient.big {
    background-size: 100% auto;
}

.page-icon.hospitals {
    background-image: url(../images/icon/hospitals/hospital-big.png);
}

.page-icon.inbox {
    background-image: url(../images/icon/inbox.png);
}

.page-icon.advertise {
    background-image: url(../images/icon/advertise.png);
}

.page-icon.contact {
    background-image: url(../images/icon/Contact-Icon.png);
}

.page-icon.about {
    background-image: url(../images/icon/About-Icon.png);
}

.action-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    float: left;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.action-icon.plus {
    background-image: url(../images/icon/Green-Plus.png);
}
.action-title {
    font: 18px/26px robotolight;
    color: inherit;
}


.contents {
    margin-bottom: 20px;
}

.contents p {
    color: rgba(0, 0, 0, 0.7);
}

.contents.discussions h1,
.contents.discussions h2,
.contents.discussions h3,
.contents.discussions h4,
.contents.discussions h5,
.contents.discussions h6
{
    color: #f55b1d;
}

.contents.discussions-list a
{
    color: #789c72;
}

.contents.diagnosis h1,
.contents.diagnosis h2,
.contents.diagnosis h3,
.contents.diagnosis h4,
.contents.diagnosis h5,
.contents.diagnosis h6
{
    color: #789c72;
}

.contents.diagnosis-list a
{
    color: #f55b1d;
}

.contents .discussions-list {
    padding: 0;
}

.contents .discussions-list li{
    border-bottom: 0;
}

.contents .discussions-list h4 {
    border-bottom: 1px solid;
    padding: 5px 0;
}

.contents .discussions-list h4 a,.contents .discussions-list h4 span{
    font-size: 21px;
    color: #dd5a69;
    line-height: 26px;
}

.contents .discussions-list .discussion{
    margin-bottom: 10px;
}

.contents .discussions-list .discussion .update{
    font-size:14px;
    rgba(0,0,0,0.6);
}

.home-discs .media-body {
    min-height: 52px;
    max-height: 52px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid #0c5786;
}

.home-surveys .media-body {
    min-height: 125px;
    max-height: 125px;
}

.contents .surveys-list {
    padding: 0;
    min-height: 600px;
}

.contents .surveys-list li{
    border-bottom: 0;
}

.contents .surveys-list h4 {
}

.contents .surveys-list h4,.contents .surveys-list h4 span{
    font-size: 17px;
    color: #000;
    line-height: 18px;
    font-family: robotolight;
    margin-bottom: 12px;
}
.contents .surveys-list h4.active ,.contents .surveys-list h4.active span{
    color: #00a2d1;
    font-family: robotomedium;
}

.contents .surveys-list .discussion{
}

.contents .surveys-list .discussion .update{
    font-size:14px;
    rgba(0,0,0,0.6);
}

.comments-count{
    font:14px 'robotomedium';
    rgba(0,0,0,0.6);
}

.hs_comment_form {
    padding: 9px 10px 0 10px;
    background-color: #F1F1F1;
}

.hs_comment_form textarea{
    height: 120px;
}

.contents .discussions-list .discussion .comments{
    font-size:18px;
    font-weight: bold;
    color: #f55b1d;
}

.comments{
    font-size:25px;
    font-weight: bold;
    color: #f55b1d;
}

.comments.small{
    font-size:18px;
}

.discussion-item .avatar {

}

.discussion-item .profile-link {
    font-size: 9px;
    color: #52c6dd;
    text-align: center;
    width: 100%;
    display: block;
}

.discussion-item .profile-link.big {
    font-size: 10px;
    color: #000;
}

.discussion-item h4 {
    font-size: 21px;
}

.topic-holder {

}

.latest-diagnosis h1,
.latest-diagnosis h2,
.latest-diagnosis h3,
.latest-diagnosis h4,
.latest-diagnosis h5,
.latest-diagnosis h6
{
    color: #789c72;
}

.latest-diagnosis h4 {
    margin-top: 0;
}

.latest-diagnosis .section-header {
    border-top: 1px solid #789c72;
    color: #789c72;
    display: inline-block;
}

.latest-diagnosis .btn_next.white i , .latest-diagnosis .btn_prev.white i {
    color: #789c72;
}

.latest-discussions h1,
.latest-discussions h2,
.latest-discussions h3,
.latest-discussions h4,
.latest-discussions h5,
.latest-discussions h6
{
    color: #dd5a69;
}

.latest-discussions h4 {
    /*font-size: 18px;*/
}

.latest-discussions .section-header {
    border-top: 1px solid #dd5a69;
    color: #dd5a69;
    display: inline-block;
}

.latest-discussions .btn_next.white i , .latest-discussions .btn_prev.white i {
    color: #dd5a69;
}



/********************* DOCTORS DIRECTORY PAGE STYLES ************/

.contents .directory-list {
    padding: 0;
}

.contents .directory-list li{
    border-bottom: 0;
}

.contents .directory-list h4,.directory-list h4 {
    padding: 0;
    font-size: 21px !important;
    line-height: 25px;
}

.contents .directory-list i, .directory-list i {
    color: #DD5A69;
    font-size: 16px;
    padding-left: 3px;
}

.contents .directory-list h4 a,.contents .directory-list h4 span {
    font-size: 21px;
    color: #f55b1d;
    line-height: 26px;
}

.contents .directory-list .doctor-item {
    position: relative;
}

.contents .featured-ribbon {
    position: absolute;
    left: -20px;
    top: 6px;
    z-index: 1;
    height: 30px;
    width: 80px;
}

.contents .featured-ribbon.pink {
    background-image: url(../images/icon/doctors/featured.png);
}

.contents .featured-ribbon.yellow {
    background-image: url(../images/icon/hospitals/featured.png);
}



.contents .directory-list .discussion {
    margin-bottom: 10px;
}

.contents .directory-list .item {
}

.doctor-filter .form-control {
    height: 30px;
    font-size:16px;
}

.doctor-filter {
    font-size:18px;
}

.small-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.small-icon.phone {
    background-image: url(../images/icon/doctors/phone.png);
}
.small-icon.location {
    background-image: url(../images/icon/doctors/location.png);
}
.small-icon.hospital {
    background-image: url(../images/icon/doctors/hospital.png);
}

/********************* ARTICLES PAGE STYLES ************/

.articles-page h1,
.articles-page h2,
.articles-page h3,
.articles-page h4,
.articles-page h5,
.articles-page h6
{
    color: #f5ad1b;
}

.articles-page h4 a
{
    color: #f5ad1b;
}

.articles-page .section-header {
    border-top: 1px solid #f5ad1b;
    display: inline-block;
}

.articles-page .blue .section-header {
    border-top: 1px solid #003256 !important;
    color: #003256 !important;
}

.single-article .hs_heading {
    font-size: 26px;
    line-height: 31px;
    margin: 0;
    border:0;
    padding: 0;
    font-family: robotoregular;
}

.single-article .hs_subheading {
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    border:0;
}

.owl-carousel {
    background-color: #f1f1f1;
    padding: 7px 40px;
}

.owl-carousel {
    background-color: rgba(0,0,0,.06);
}

.owl-carousel .owl-item .row.border-left {
    border-left-color: #003256;
}

.owl-carousel .owl-item h1 {
    font: 30px/36px robotoregular;
    margin: 0;
}

.owl-carousel .owl-item h5 {
    color: #000;
    font-weight: 300;
    font: 12px/14px robotolight;
    margin: 0;
}

#latest-articles-car {
    padding: 0;
}

#latest-articles-car .owl-controls {
    position: absolute;
    bottom: 8px;
    left: 165px;
}

#latest-articles-car .owl-wrapper-outer {
    width: 100%;
}

#latest-articles-car .media.featured .media-body {
    padding: 6px;
}

#latest-articles-car .media.featured .media-right {
    padding: 0;
}

.articles-page .owl-carousel h4 {
    margin: 0 0 5px 0;
}

.latest-surveys .section-header {
    border-color: #00a2d1;
}

.latest-surveys .btn_next.white i , .latest-surveys .btn_prev.white i {
    color: #00a2d1;
}

.latest-surveys h1,
.latest-surveys h2,
.latest-surveys h3,
.latest-surveys h4,
.latest-surveys h5,
.latest-surveys h6 {
    color: #00a2d1;
}

.latest-articles h1,
.latest-articles h2,
.latest-articles h3,
.latest-articles h4,
.latest-articles h5,
.latest-articles h6 {
    color: #f5ad1b;
}


.latest-articles .btn_next.white i , .latest-articles .btn_prev.white i{
    color: #f5ad1b;
}
/********************* HOSPITALS STYLES ************/

.facilities {
    color: #000;
}


.facility-icon {
    width: 20px;
    height: 22px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 5px;
    background-position: 0px 2px;
    -o-background-size: 20px auto;
    -moz-background-size: 20px auto;
    -webkit-background-size: 20px auto;
    background-size: 20px auto;
}

.facility-icon:first-child {
    margin-left: 0;
}

.small-icon.yellow {
    height: 17px;
    line-height: 25px;
}
.small-icon.hospital.yellow {
    background-image: url(../images/icon/hospitals/hospital.png);
}

.small-icon.cursor.yellow {
    background-image: url(../images/icon/hospitals/cursor.png);
}

.small-icon.language.yellow {
    background-image: url(../images/icon/hospitals/language.png);
}

.small-icon.location.yellow {
    background-image: url(../images/icon/hospitals/location.png);
}

.small-icon.phone.yellow {
    background-image: url(../images/icon/hospitals/phone.png);
}

.facility-icon.wifi {
    background-image: url(../images/icon/hospitals/facilities/wifi.png);
}

.facility-icon.star {
    background-image: url(../images/icon/hospitals/facilities/5star.png);
}

.facility-icon.cafe {
    background-image: url(../images/icon/hospitals/facilities/cafe.png);
}

.facility-icon.concierge {
    background-image: url(../images/icon/hospitals/facilities/concierge.png);
}

.facility-icon.er {
    background-image: url(../images/icon/hospitals/facilities/er.png);
}

.facility-icon.florist {
    background-image: url(../images/icon/hospitals/facilities/florist.png);
}

.facility-icon.gift {
    background-image: url(../images/icon/hospitals/facilities/gift.png);
}

.facility-icon.government {
    background-image: url(../images/icon/hospitals/facilities/government.png);
}

.facility-icon.parking {
    background-image: url(../images/icon/hospitals/facilities/parking.png);
}

.facility-icon.private {
    background-image: url(../images/icon/hospitals/facilities/private.png);
}

.facility-icon.restaurant {
    background-image: url(../images/icon/hospitals/facilities/restaurant.png);
}

.facility-icon.valet {
    background-image: url(../images/icon/hospitals/facilities/valet.png);
}

.facility-icon.vip {
    background-image: url(../images/icon/hospitals/facilities/vip.png);
}

.facility-icon.pharmacy {
    background-image: url(../images/icon/hospitals/facilities/pharmacy.png);
}

/********************* PROFILES STYLES ************/

.profile h1, .profile h2, .profile h3, .profile h4, .profile h5 {
    color: #656565;
}

.profile button {
    font-size: 12px;
    /*color: #003256;*/
    margin-top: 10px;
}

.profile button.search-icon {
    margin-top: 0;
}


.benefits {
    line-height: 20px;
}

.fields-group .fields {
    position: relative;
}

.form-group .fields input {
    margin: 7px 0;

}

.remove_field_bt , .add_field_bt  {
    margin: 2px;
}

.select2 {
    width: 100% !important;
}

select.form-control,
.select2-container--default .select2-selection--multiple {
    border-radius: 0;
    padding: 0 10px;
}

.qualifications .section span {
    margin: 3px 0;
}

.qualifications .section span.fa-close {
    position: absolute;
    right: 0px;
    top: -20px;
}

.qualifications .section .add-form {
    display: none;
}

.day-check {
    padding: 8px 12px 8px 0;
    display: inline !important;
}

.map {
    width: 100%;
    height: 360px;
    margin-top: 5px;
    background-image: url('../images/placeholders/no-location.png');
    background-size: 100%;
    background-position: center;
}

.hs_single_profile h1 {
    font: 21px/25px robotolight;
    margin-top: 3px;
    margin-bottom: 3px;
}

.hs_single_profile h4 {
    font-size: 17px;
    line-height: 20px;
}

.dataList {
    line-height: 22px;
}

/********************************** SURVEYS PAGE **************************/

.box-list {
    list-style: none;
    padding: 0;
}

.box-list.surveys h4 {
    color: #00a2d1;
}

.box-list li {
}

.box-list li .item  {
    height: 150px;
    position: relative;
}

.box-list li .item .tags  {
    position: absolute;
    bottom: 5px;
    width: 96%;
}

.survey-single .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 7px;
    background-color: #F1F1F1;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    font-family: robotomedium;
}

.survey-single input[type="radio"] + label span , .survey-single input[type="checkbox"] + label span {
    background-color: #F1F1F1;
}

.survey-single label {
    margin: 3px 0;
}

.survey-single input[type="radio"]:checked  + label span , .survey-single input[type="radio"]:checked + label span {
    background-color: #00a2d1 !important;
    border: 2px solid #F1F1F1;
}

.survey-title {
    font: 26px/31px robotolight;
    margin-top: 0;
    margin-bottom: 7px;
}

.surveys-page .pagination>.active>a,
.surveys-page .pagination>.active>a:focus,
.surveys-page .pagination>.active>a:hover,
.surveys-page .pagination>.active>span,
.surveys-page .pagination>.active>span:focus,
.surveys-page .pagination>.active>span:hover {
    color: #00a2d1;
}

/********************************** FOOTER **************************/

.footer {
    background-color: #f1f1f1;
    border-top: 1px solid #8E8E8E;
    padding: 10px 0;
    font-size: 13px;
}

.footer ul.nav-links {
    list-style: none;
    padding: 0;
    margin: 7px 0;
}

.footer ul.nav-links li {
    float: left;
    margin-right: 10px;
}

.footer a, .footer p ,.footer {
    color: #3E3D3D;
    font: 10px/12px robotolight;
}

.footer ul.nav-links li a {
    color: #3E3D3D;
    border-right: 1px solid #B3B3B3;
    font: 10px/12px robotolight;
    padding-right: 6px;
}

.footer ul.nav-links li:last-child a {
    border-right:0;
}

.footer .copyright {
    text-align: right;
}


#tweets {
    padding:0;
    list-style: none;
}

#tweets li {
    border-bottom: 1px solid #C2CCD1;
    margin-top: 10px;
}

#tweets h5 {
    margin: 0;
    font-size: 15px;
}

#tweets span.twitterName {
    margin: 3px 0;
    color: #b8b8b8;
    font-style: italic;
}

#tweets p {
    font-size: 14px;
}


/********************* INBOX STYLES ************/

.inbox-menu .inbox li a, .inbox-menu a {
    font: 17px/29px robotolight;
}

.inbox-menu a {
    line-height: 17px;
}

.inbox-menu .inbox li a.active, .inbox-menu a.active {
    font-weight: bold !important;
}

.page-container.messages .filters a {
    font-size: 17px;
}

.page-container.messages h4 {
    font:20px/21px robotomedium;
    color: black;
}

.page-container.messages h5 {
    font:15px/21px robotomedium;
    margin-top: 0;
}

.page-container.messages .date-divider {
    text-align: center;
    display: block;
    width: 100%;
}
.page-container.messages .date-divider .date {
    position: relative;
    top: -10px;
    background-color: #fff;
    float: left;
    left: 42%;
    padding: 0 10px;
}

.messages .filters {
    padding-top: 42px;
}
/************ ABOUT PAGE STYLE ************/

.about-list {
    padding-left: 10px;
}

.about-list li a {
    font: 18px/26px robotolight;
}

.about-list li a.active {
    font-family: robotomedium;
    color: #003256;
}


/************ SEARCH PAGE STYLE ************/

.search-list {
    padding: 0;
}

.search-list li{
    border-bottom: 0;
}

.search-list h4 {
    border-bottom: 1px solid;
    padding: 5px 0;
}

.search-list h4 a,.search-list h4 span{
    font-size: 18px;
    color: #dd5a69;
    line-height: 26px;
}

.search-list .discussion{
    margin-bottom: 10px;
}

.search-list .discussion .update{
    font-size:14px;
rgba(0,0,0,0.6);
}


/************ ADVERTISE PAGE STYLE ************/


.advertise .small-icon {
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-right: 7px;
    float: left;
}

.doctor {
    background-image: url(../images/icon/doctor.png);
}

.patient {
    background-image: url(../images/icon/patient.png);
}

.custom-select.small select {
    height: 26px;
    font-size: 15px;
    padding: 3px;
}

.custom-select.small {
    background-position: 95% center;
     background-size: 10px;
}

.news-ticker .search-field .search-icon {
    -o-background-size: 14px auto;
    -moz-background-size: 14px auto;
    -webkit-background-size: 14px auto;
    background-size: 14px auto;
}