#ticker {
	height: 22px;
    max-width: 450px;
	overflow: hidden;

}
#ticker li {
    max-width: 440px;
	height: 22px;
    list-style: none;
}


/************************/
/* WORKSHOP STYLE       */
/************************/

.bar {
	background-color: #111;
	color: #f0f0f0;
	box-shadow: 0px 0px 2px #333;
	line-height: 25px;
	padding: 0px 20px;
}

.bar a {
	color: #DDD;
	text-decoration: none;
}

.bar a:hover {
	color: #FFFFFF;
}

html, body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 0;
	margin: 0;
	color: #333;
}