
.h1, h1 {
    font-size: 25px;
}

.txtcenter {
    margin-top: 4em;
    font-size: .9em;
    text-align: center;
    color: #aaa;
}

.copy {
    margin-top: 2em;
}

.copy a {
    text-decoration: none;
    color: #4778d9;
}

.overflow-hidden {
    overflow: hidden;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.text-capitalize { text-transform: capitalize; }
.text-middle { vertical-align: middle; }

.no-padding { padding: 0 !important; }
.no-top-pad { padding-top: 0 !important; }
.no-right-pad { padding-right: 0 !important; }
.no-bottom-pad { padding-bottom: 0 !important; }
.no-left-pad { padding-left: 0 !important; }

.padding-tb-0 { padding-top: 0; padding-bottom: 0;  }
.padding-tb-5 { padding-top: 5px; padding-bottom: 5px;  }
.padding-tb-7 { padding-top: 7px; padding-bottom: 7px;  }
.padding-tb-8 { padding-top: 8px; padding-bottom: 8px;  }
.padding-tb-10 { padding-top: 10px; padding-bottom: 10px;  }
.padding-tb-14 { padding-top: 14px; padding-bottom: 14px;  }
.padding-tb-20 { padding-top: 20px; padding-bottom: 20px;  }
.padding-tb-30 { padding-top: 30px; padding-bottom: 30px;  }

.padding-lr-5 { padding-left: 5px; padding-right: 5px;  }
.padding-lr-7 { padding-left: 7px; padding-right: 7px;  }
.padding-lr-10 { padding-left: 10px; padding-right: 10px;  }
.padding-lr-20 { padding-left: 20px; padding-right: 20px;  }
.padding-lr-30 { padding-left: 30px; padding-right: 30px;  }

.padding-t-20 { padding-top: 20px;}
.padding-b-20 { padding-bottom: 20px;}
.padding-r-20 { padding-right: 20px;}
.padding-l-20 { padding-left: 20px;}
.padding-l-35 { padding-left: 35px;}
.padding-l-55 { padding-left: 52px;}
.padding-t-10 { padding-top: 10px;}
.padding-r-6 { padding-right: 6px;}
.padding-t-20 { padding-top: 20px;}
.padding-t-30 { padding-top: 30px;}
.padding-t-40 { padding-top: 40px;}
.padding-b-10 { padding-bottom: 10px;}
.padding-r-10 { padding-right: 10px;}
.padding-r-7 { padding-right: 7px;}
.padding-l-10 { padding-left: 10px;}
.padding-t-4 { padding-top: 4px;}
.padding-t-5 { padding-top: 5px;}
.padding-b-3 { padding-bottom: 3px;}
.padding-b-4 { padding-bottom: 4px;}
.padding-b-5 { padding-bottom: 5px;}
.padding-b-7 { padding-bottom: 7px;}
.padding-b-8 { padding-bottom: 8px;}
.padding-r-5 { padding-right: 5px;}
.padding-l-5 { padding-left: 5px;}
.padding-l-7 { padding-left: 7px;}
.padding-t-0 { padding-top: 0;}
.padding-b-0 { padding-bottom: 0 !important;}
.padding-r-0 { padding-right: 0;}
.padding-l-0 { padding-left: 0;}

.padding-5 { padding: 5px; }
.padding-7 { padding: 7px; }
.padding-10 { padding: 10px !important; }
.padding-12 { padding: 12px !important; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }
.padding-30 { padding: 30px; }
.padding-40 { padding: 40px; }


.margin-tb-0 { margin-top: 0; margin-bottom: 0;  }
.margin-tb-4 { margin-top: 4px; margin-bottom: 4px;  }
.margin-tb-5 { margin-top: 5px; margin-bottom: 5px;  }
.margin-tb-10 { margin-top: 10px; margin-bottom: 10px;  }
.margin-tb-20 { margin-top: 20px; margin-bottom: 20px;  }
.margin-rl-5 { margin-right: 5px; margin-left: 5px; }
.margin-rl-10 { margin-right: 10px; margin-right: 10px; }
.margin-rl-20 { margin-right: 20px; margin-right: 20px; }
.margin-t-3 { margin-top: 3px;}
.margin-t-4 { margin-top: 4px;}
.margin-t-15 { margin-top: 15px;}
.margin-t-20 { margin-top: 20px;}
.margin-t-30 { margin-top: 30px;}
.margin-t-40 { margin-top: 40px;}
.margin-b-3 { margin-bottom: 3px;}
.margin-b-4 { margin-bottom: 4px;}
.margin-b-7 { margin-bottom: 7px !important;}
.margin-b-15 { margin-bottom: 15px !important;}
.margin-b-20 { margin-bottom: 20px !important;}
.margin-b-30 { margin-bottom: 30px}
.margin-r-20 { margin-right: 20px;}
.margin-l-20 { margin-left: 20px;}
.margin-t-10 { margin-top: 10px;}
.margin-t-7 { margin-top: 7px;}
.margin-b-10 { margin-bottom: 10px;}
.margin-b-7 { margin-bottom: 7px !important;}
.margin-r-10 { margin-right: 10px;}
.margin-l-10 { margin-left: 10px;}
.margin-t-5 { margin-top: 5px !important; }
.margin-b-5 { margin-bottom: 5px;}
.margin-r-5 { margin-right: 5px;}
.margin-l-5 { margin-left: 5px;}
.margin-t-0 { margin-top: 0 !important;}
.margin-b-0 { margin-bottom: 0 !important;}
.margin-r-0 { margin-right: 0;}
.margin-l-0 { margin-left: 0;}

.margin-10 { margin: 10px; }
.margin-15 { margin: 15px; }
.margin-20 { margin: 20px; }
.margin-30 { margin: 30px; }
.margin-40 { margin: 40px; }

.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }

.align-top { vertical-align: top; }

.font-8 { font-size: 8px !important; }
.font-9 { font-size: 9px !important; }
.font-10 { font-size: 10px !important; }
.font-11 { font-size: 11px !important; }
.font-12 { font-size: 12px !important; }
.font-14 { font-size: 14px !important; }
.font-15 { font-size: 15px !important; }
.font-18 { font-size: 18px !important; }
.font-20 { font-size: 21px !important; }
.font-21 { font-size: 21px !important; }
.font-22 { font-size: 22px !important; }
.font-24 { font-size: 24px !important; }
.font-28 { font-size: 28px !important; }
.font-30 { font-size: 30px !important; }

.referenceText {
    font-size: 12px !important;
    color: #4C4C4C;
}

.line-height-14 {
    line-height: 14px;
}

.line-height-22 {
    line-height: 22px;
}

.line-height-17 {
    line-height: 17px;
}

.line-height-28 {
    line-height: 28px;
}

.opacity-0 { opacity: 0; }
.opacity-1 { opacity: 1; }

.temp-hide { display: none; }

.h-link { font-size: 14px; }

img {
    max-width: 100%;
}
.border-left { border-left: 1px solid #003256; }
.border-left-light { border-left: 1px solid rgba(0,0,0,0.1);  }
.border-right { border-right: 1px solid #003256; }
.border-right.gray { border-right: 1px solid #A2A2A2; }
.border-right-light { border-right:1px solid rgba(0,0,0,0.1) !important; }
.border-light { border-color: rgba(0,0,0,0.1) !important; }
.border-bottom {
    border-bottom: 1px solid #003256;
}
.border-bottom-light {
    border-bottom: 1px solid #989898;
}
.border-top-light {
    border-top: 1px solid #989898;
}
.border-bottom-very-light {
    border-bottom: 1px solid #E6E6E6;
}
.border-top {
    border-top: 1px solid;
}
.no-border { border: 0 !important; box-shadow: none !important; }


.f-left { float: left; }
.f-right { float: right; }

.t-white { color: #fff !important; }
.t-orange { color: #f55b1d !important; }
.t-yellow { color: #f5ad1b !important; }
.t-green { color: #789c72 !important; }
.t-black { color: #3b3b3b !important; }
.t-blue { color: #095586 !important; }
.t-gray { color: #767676 !important; }
.t-light-gray { color: #9E9E9E !important; }
.t-pink { color: #dd5a69 !important; }
.t-regular { font-weight: 300; }
.t-bold { font-weight: bold; }
.t-uppercase { text-transform: uppercase; }

.gray-border-b { border-bottom: 1px solid #003256; }
.gray-border-t { border-top: 1px solid #C3C3C3; padding-top: 4px; }
.orange-border-b { border-bottom: 1px solid #f55b1d; }
.orange-border-t { border-bottom: 1px solid #f55b1d; }
.pink-border-b { border-bottom: 1px solid #dd5a69; }
.pink-border-t { border-bottom: 1px solid #dd5a69; }
.green-border-b { border-bottom: 1px solid #789c72; }
.green-border-t { border-bottom: 1px solid #789c72; }

.gray-bg {  background-color: #f1f1f1; }
.white-bg {  background-color: #fff !important; }
.blue-bg {  background-color: #0a5787 !important; }
.red-bg {  background-color: #e12526 !important; }
.yellow-bg {  background-color: #f5ad1b !important; }
.pink-bg {  background-color: #dd5a69 !important; }

.yellow {
    border: #f5ad1b !important;
    color: #f5ad1b !important;
}

.yellow a{
    color: #f5ad1b !important;
}

.patient-blue {
    border: #0c5786;
    color: #00a2d1 !important;
}

.light-blue {
    border: #00a2d1;
    color: #00a2d1 !important;
}

.light-blue a{
    color: #00a2d1 !important;
}

.blue {
    border: #003256;
    color: #003256 !important;
}

.blue a{
    color: #003256 !important;
}

.margin-b-5.doctor-blue {
    border: #0a5787;
    color: #0a5787 !important;
}

.doctor-blue a{
    color: #0a5787 !important;
}

.doctor-blue {
    color: #0a5787 !important;
}

.border-top-blue{
    border-top: 1px solid #003256 !important;
}

.pink {
    border-color: #dd5a69 !important;
    color: #dd5a69 !important;
}

.pink a{
    color: #dd5a69 !important;
}

.orange {
    border-color: #f55b1d !important;
    color: #f55b1d !important;
}

.orange a{
    color: #f55b1d !important;
}

.green {
    border-color: #789c72 !important;
    color: #789c72 !important;
}

.green a{
    color: #789c72 !important;
}

.black {
    border-color: #3b3b3b !important;
    color: #3b3b3b !important;
}

.black a{
    color: #3b3b3b !important;
}

.robotoregular { font-family: robotoregular; }
.robotolight { font-family: robotolight; }
.robotobold{ font-family: robotobold; }
.latoregular{ font-family: latoregular; }
.latolight{ font-family: latolight; }

.text-uppercase {
    text-transform: uppercase;
}
.transparent-bg { background-color: transparent; }
.no-bg { background: transparent !important; }

.z-index-1 { z-index: 1; }


.crop { overflow: hidden; }
.width-full { width: 100%; }
.resize-v-only { resize: vertical; }
